torch
importlib_metadata
huggingface-hub>=0.21.2
scipy
opencv-python-headless[ffmpeg]
filelock
numpy
Pillow
einops
torchvision
pyyaml
scikit-image>=0.21.0
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh[easy]
albumentations
scikit-learn
matplotlib
